{% extends 'base.html' %}

{% block content %}

<article class="blog-post">
    <h2 class="blog-post-title">New feature</h2>
    <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
    <ul>
      <li>First list item</li>
      <li>Second list item with a longer description</li>
      <li>Third list item to close it out</li>
    </ul>
    <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
  </article>


<div class="container">
    <div class="row">
        <div class="col">
            <h2>Welcome</h2>
            <br>
            <p> My name is Luciano, i came to Bavaria for the first time in 2013. Since the beginning i noticed that there are Jesus crucified statues everywhere. </p>
            <br>
            <p>There's not a single town with at least one of them; curious thing to see because here, there's many towns one after another.</p>
            <br>
            <p>Now I'm a Bavarian resident and since i have feel so welcomed in here, i have decided to create this community for sharing our common admiration to his figure. </p> 
            <br>
            <p>Personally, i rather to look at him as a Friend, and not hanging from a cross, as a reminder to what happened to the last one that came around claiming to be a Messiah.</p>
        </div>
    </div>
</div>
<section class="title">
    <div>
        <h3>Share your B.C. Photos </h3>
    </div>
</section>
<!-- Invitation to share text -->
<section>
    <div class="share-text">
        <h2>In this website we all can post our “Bavarian Christus” images.</h2>
        <br>
        <p> You as colaborator can upload your photo and location of the statue.</p>
        <br>
        <p>Eventually we can create visiting routes for those who like me, are interested in Christ images.</p> 
    </div>

{% endblock %}