<div class="col p-4">
  <h2 class="display-5">Welcome</h2>
  <div class="running-text">
      <p> My name is Luciano, i came to Bavaria for the first time in 2013.</p>
      <p> Since the beginning i noticed that there are Jesus crucified statues everywhere.</p>
      <p>There's not a single town with at least one of them; curious thing to see because here, there's many towns one after another.</p>
      <p>Now I'm a Bavarian resident and since i have feel so welcomed in here, i have decided to build this online community for sharing our common admiration to his figure. </p>
      <p>Personally, i rather to look at him as a Friend, and not hanging from a cross, as a reminder to what happened to the last one that came around claiming to be a Messiah.</p>
      <p>You can create an acount and post your own photos, or share those already published by others.</p>
      <p>You can also send an image as an actual PostCard, and let someone enjoy a piece of the Bavarian Landscapes.</p>
      <p>Thank you for visiting my project, and please review our PostCard Gallery.</p>
  </div>
</div>